<h1>Book Suggestions</h1>

<p id="notice"><%= notice %></p>

<% if @suggestions.count > 0 %>
    <table class="tables">
      <thead>
      <tr>
        <th> Book Name</th>
        <th> Author(s)</th>
      </tr>
      </thead>

      <tbody>
      <% @suggestions.each do |suggestion| %>
          <tr>
            <td> <%= suggestion.name %> </td>
            <td> <%= suggestion.authors %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
        <b> There are currently no book suggestions</b>
    <% end %>
<br> <br>

<%= render 'footer'%>